@model List<Hero>

@{
    ViewData["Title"] = "HeroDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HeroDetails</h1>

<div>
    @foreach (var hero in Model)
    {
        <h1>@hero.Name</h1>
        <h2>@hero.Class</h2>
    }
</div>